<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>

  </header>

  <main>
    <div class="wrapper">


      <div class="toDoList">
        <h1>ToDo List</h1>
        <form class="todoForm" action="/todos" method="post">
          <input id="todoInput" type="text" name="todo" placeholder="Type 'Todo' here">
          <button>Add Todo</button>
        </form>
        <ul>
          {{#todos}}
            <form class="activeTodos" action="/completed" method="post">
              <button class="markComplete">Mark As Complete</button>
              <input class="activeListItem" name="completed" value="{{.}}" readonly>
            </form>
          {{/todos}}
        </ul>
      </div>

      <div class="completedList">
        <h2>Completed ToDos</h2>
        <ul>
          {{#completed}}
            <li>{{.}}</li>
          {{/completed}}
        </ul>
      </div>
    </div>
  </main>

</body>

</html>
