<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>

  </header>

  <main>

    <div class="todoList">
      <h1>ToDo List</h1>
      <form class="todoForm" action="/todos" method="post">
        <input type="text" name="todo" value="todo">
        <button>Add Todo</button>
      </form>
      <ul>
        {{#todos}}
          <li>{{.}}</li><form class="completed" action="/completed" method="post">
            <input name="{{.}}" value="">
            <button type="button">Mark Complete</button>
          </form>
        {{/todos}}
      </ul>
    </div>

    <div class="completedList">
      <h2>Completed ToDos</h2>
      <ul>
        {{#completed}}
        <li>{{.}}</li>
        {{/completed}}
      </ul>
    </div

  </main>

</body>

</html>
